body {
    background-color: #0A4D68 !important;
}

h1 {
    color: white !important;
    font-family: 'HammerSmithOne' !important;
}

h4 {
    color: white !important;
    font-family: 'HammerSmithOne' !important;
}

p {
    color: #D2D1D1;
    font-family: 'Merriweather' !important;
    font-size: 2rem;
}

.title {
    font-family: 'Inter' !important;
    font-weight: bold !important;
}

@font-face {
    font-family: 'HammerSmithOne';
    src: local('HammerSmithOne'), url("./fonts/HammerSmithOne.ttf") format("truetype");
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), url("./fonts/Merriweather.ttf") format("truetype");
}

@font-face {
    font-family: 'Inter';
    src: local('Inter'), url("./fonts/Inter.ttf") format("truetype");
}

@font-face {
    font-family: 'Grandstander';
    src: local('Grandstander'), url("./fonts/Grandstander.ttf") format("truetype");
}